{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 200,
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}